<html>
  <head>
    <title>Comedian Page</title>
  </head>
  <header>
    Comedian Page
  </header>
  <body>
    <p>
      <h4><%= @comedian.name %></h4>
      <p>Comedian age: <%= @comedian.age %></p>
      <p>List of Specials: <%= @comedian.specials.name %></p>
      <p># of Specials: <%= @comedian.specials.count %></p>
      <% end %>
    </p>
  </body>
</html>
